<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <title>Смена пароля</title>
    <link rel="stylesheet" th:href="@{/css/style_s.css}">
</head>
<body>
<div layout:fragment="container">
    <form class="form-signin" th:action="@{/dashboard/change_password}" th:method="post">
        <!--                <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72" />-->
        <h1 class="h3 mb-3 font-weight-normal">Смена пароля</h1>
        <div th:if="${param.error}">
            Неверный логин или парроль.
        </div>
        <div th:if="${param.logout}">
            Вы успешно вышли из учетной записи.
        </div>
<!--        <label for="inputUsername" class="sr-only">Username</label>-->
<!--        <input type="text" name="login" id="inputLogin" class="form-control" placeholder="Логин" required="" />-->
        <div class="password">
            <label for="passOld" class="sr-only">Password</label>
            <input name="passOld" type="password" id="passOld" class="form-control password-input" placeholder="Текущий пароль" required="" />
            <a  class="password-control"></a>
        </div>

        <div class="password">
            <label for="passOne" class="sr-only">Password</label>
            <input name="passOne" type="password" id="passOne" class="form-control password-input" placeholder="Новый пароль" required="" />
            <a  class="password-control"></a>
        </div>

        <div class="password">
            <label for="passTwo" class="sr-only">Password</label>
            <input type="password" name="password" id="passTwo" class="form-control password-input" placeholder="Новый пароль еще раз" required="" />
            <a  class="password-control"></a>
        </div>


<!--        <label for="inputFullname" class="sr-only">Full Name</label>-->
<!--        <input type="text" name="fullname" id="inputFullname" class="form-control" placeholder="Полное имя" required="" />-->
<!--        <label for="inputEmail" class="sr-only">Email</label>-->
<!--        <input type="text" name="email" id="inputEmail" class="form-control" placeholder="Email адрес" required="" />-->
        <button class="btn btn-lg btn-primary btn-block" id="changeButton" type="submit">Сменить пароль</button>

        <div id="check" class="incorrect">
            <div style="text-align: center;"><p id="checkText"></p></div>
        </div>
        <div id="changed" th:if="${message}">
            <div style="text-align: center;">
                <p  th:styleappend="${color}?'color: #FF0009;':'color: #03DB00;'" th:text="${message}">msg</p>
            </div>
        </div>
    </form>
<!--    <form class="form-signin" th:action="@{/login}" method="get">-->
<!--        <button class="btn btn-md btn-success btn-block" type="Submit">Вход</button>-->
<!--    </form>-->
</div>

<div layout:fragment="container_js" id="page_js_files">
    <!-- specific page javascript files here -->
    <script th:src="@{/js/core.js}"></script>
    <script type="text/javascript" th:src="@{/js/vendor_bundle.js}"></script>
    <script type="text/javascript" th:src="@{/js/change_password.js}"></script>
</div>
</body>
</html>