<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{default.html}"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Вход администратора</title>
    <meta name="description" content="" />
        <link rel="stylesheet" href="/css/style_s.css" />
</head>

<body>
    <div id="wrapper" class="d-flex align-items-stretch flex-column">

        <!-- HEADER from default.html -->
        <!-- /HEADER -->

        <!-- MIDDLE -->
        <div layout:fragment="container">
            <div class="table-center">
                <br/>
                <h2 th:text="|Список групп (${groups_set.size()})|">Список пользователей</h2>
                <br/>
                <table id="teachers_table" class=
                        "table table-hover table-teacher" style="width: 81%;" >
                    <thead class="thead-light">
                    <tr>
                        <th>Группа</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody style="background-color: rgba(165,177,166,0.55)">
                    <tr th:each="group : ${groups_set}">
                        <td  th:text="${group}">group</td>
                        <td>
                            <form th:action="@{/dashboard/teachers/{id}(id=${group})}" th:method="delete">
                                <button class="btn-danger rounded" name="id">
                                    Удалить
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /MIDDLE -->

        <!-- FOOTER -->
        <!-- /FOOTER default.html-->

    </div><!-- /#wrapper -->
</body>

