<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{default.html}"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Вход администратора</title>
    <meta name="description" content="" />
        <link rel="stylesheet" href="/css/style_s.css" />
</head>

<body>
    <div id="wrapper" class="d-flex align-items-stretch flex-column">

        <!-- HEADER from default.html -->
        <!-- /HEADER -->

        <!-- MIDDLE -->
        <div layout:fragment="container">
            <div class="table-center">
                <br/>
                <h2 th:text="|Список преподавателей (${teachers_list.size()})|">Список преподавателей</h2>

                <p>
                    <form th:action="@{/dashboard/teachers}" method="post">
                        <div class="div-inline">
                            <div class="div-inline-t">
                                    <label for="inputEmail" class="sr-only">Email address</label>
                                    <input type="email" name="email" id="inputEmail"
                                           class="form-control div-inline" placeholder="Email" required="" />
                            </div>
                            <button class="btn-success div-inline rounded">
                                Добавить
                            </button>
                        </div>
                    </form>
                </p>
                <br/>
                <table id="teachers_table" class=
                        "table table-hover table-teacher" >
                    <thead class="thead-light">
                    <tr>
                        <th>Id</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody style="background-color: rgba(165,177,166,0.55)">
                    <tr th:each="teacher : ${teachers_list}">
                        <td  th:text="${teacher.getId()}">Id</td>
                        <td class="font-weight-bold" th:text="${teacher.getEmail()}">Email</td>
                        <td>
                            <form th:action="@{/dashboard/teachers/{id}(id=${teacher.getId()})}" th:method="delete">
                                <button class="btn-danger rounded" name="id">
                                    Удалить
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /MIDDLE -->

        <!-- FOOTER -->
        <!-- /FOOTER default.html-->

    </div><!-- /#wrapper -->
</body>

