<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{default.html}"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Вход администратора</title>
    <meta name="description" content="" />
    <link rel="stylesheet" href="/css/style_s.css" />
</head>

<body>
<div id="wrapper" class="d-flex align-items-stretch flex-column">

    <!-- HEADER from default.html -->
    <!-- /HEADER -->

    <!-- MIDDLE -->
    <div layout:fragment="container">
        <form id="form-task" class="table-center mt--60">
            <p id="task">
                <label style="font-weight: bold; color: black">Название занятия:</label> <input name="task_name" type="text">
                <label class="ml--20">Добавить оценку:</label>
                <button style="font-size: x-large;"
                        class="add_mark btn-success rounded w--40">+</button>
                <button id="task-remove-btn" type="button" class="remove btn-danger rounded ml--30">Удалить занятие</button>
                <p id="mark" class="ml--10 mark_t">
                    <label>Описание оценки:</label> <input name="mark_descr" type="text">
                    <label class="ml--20">Шкала:</label>
                    <select  class="form-selector-xl h--40 pl--10 pr--10" name="mark_scale"
                             style="text-align: center" size="1">
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="100">100</option>
                    </select>
                    <button style="font-size: x-large;"  id="mark-remove-btn" type="button"
                    class="remove_mark btn-danger rounded ml--30  w--40">-</button>
                </p>
            </p>
            <p>
                <button class="add btn-success rounded">Добавить занятие</button>
                <br/>
                <br/>
                <button type="submit" id="download_button"  class="btn-indigo rounded">Скачать JSON</button>
            </p>
        </form>
    </div>

    <div layout:fragment="container_js" id="page_js_files">
        <!-- specific page javascript files here -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/create_config.js"></script>
<!--        <script type="text/javascript" src="js/jquery.mousewheel.min.js"></script>-->
<!--        <script type="text/javascript" src="js/increment.js"></script>-->
<!---->
    </div>
    <!-- /MIDDLE -->

    <!-- FOOTER -->
    <!-- /FOOTER default.html-->

</div><!-- /#wrapper -->
</body>

