<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{default.html}"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Вход администратора</title>
    <meta name="description" content="" />
    <link rel="stylesheet" href="/css/style_s.css" />
</head>

<body>
<div id="wrapper" class="d-flex align-items-stretch flex-column">

    <!-- HEADER from default.html -->
    <!-- /HEADER -->

    <!-- MIDDLE -->
    <div layout:fragment="container">
        <form id="form-task" class="table-center mt--60">
            <p id="task">
                <label>Название занятия:</label> <input type="text">
                <label>Количество оценок:</label> <input type="number">
                <button id="task-remove-btn" class="remove btn-danger rounded">Удалить занятие</button>
            </p>
            <p>
                <button class="add btn-success rounded">Добавить занятие</button>
            </p>
        </form>
    </div>

    <div layout:fragment="container_js" id="page_js_files">
        <!-- specific page javascript files here -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/create_config.js"></script>
<!---->
    </div>
    <!-- /MIDDLE -->

    <!-- FOOTER -->
    <!-- /FOOTER default.html-->

</div><!-- /#wrapper -->
</body>

