<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{default.html}"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Вход администратора</title>
    <meta name="description" content="" />
    <link rel="stylesheet" th:href="@{/css/style_s.css}" />
</head>

<body>
<div id="wrapper" class="d-flex align-items-stretch flex-column">

    <!-- HEADER from default.html -->
    <!-- /HEADER -->

    <!-- MIDDLE -->
    <div layout:fragment="container" class="form-signin" >
<!--        style = "text-align:center;"-->
        <h1 >Войти через:</h1>
        <p>
            <h3>GitWork</h3>
            <a th:href="@{/oauth2/authorization/gitlab}" class=" img-correction">
                <img class="rounded-bottom h--300 "
                     th:src="@{/img/logo/gitlab_logo.png}">
            </a>
            <h3>Панель администратора</h3>
            <a th:href="@{/admin}" style="text-decoration: none">
                <button type="button" class="btn btn-block btn-danger customBtn">
                        АДМИНИСТРАТОР
                </button>
            </a>
<!--            <i class="fab fa-gitlab fa-fw" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>-->
<!--            <i class="fab fa-gitlab"></i>-->
<!--            <a text="GitWork" href="/oauth2/authorization/gitlab">Client</a>-->
        </p>
    </div>
    <!-- /MIDDLE -->

    <!-- FOOTER -->
    <!-- /FOOTER default.html-->

</div><!-- /#wrapper -->
</body>

