<!DOCTYPE html>
<html        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			 layout:decorate="~{default.html}"

		xmlns:th="http://www.thymeleaf.org">
<head>

	<meta charset="utf-8" />
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Успеваемость</title>
	<meta name="description" content="" />
	<base href="/dbconnector">
</head>	 

<body>
<div layout:fragment="container" id="wrapper_content" class="d-flex flex-fill">

	<!-- /SIDEBAR -->


	<!-- MIDDLE -->
	<div id="middle" class="flex-fill  bg-dark-soft">
		<!-- start:row -->
		<div class="row gutters-sm">

			<!-- start:col: -->
			<div class="col-12 mb-3">
				<div class="portlet">

					<div class="portlet-header border-bottom">
						Успеваемость

					</div>

					<div class="portlet-body">


						<div class="row">
							<div class="col-lg-6">
								<div class="form-label-group mb-1 ml-1">
									Номер группы <b>[sYYG]</b>, где YY - год поступления G - номер группы
								</div>
								<div class="form-label-group mb-3">
									<input placeholder="Номер группы, например: s163" id="group_number" type="text" value="" class="form-control">
									<label for="file_path">Например: s163</label>
								</div>

							</div>
							<div class="col-lg-6">
								<div class="form-label-group mb-1 ml-1">
									Идентификатор предмета <b>[fio_subject_YYYY_N]</b>, YYYY-год, N-семестр
								</div>
								<div class="form-label-group mb-3">
									<input placeholder="Номер группы, например: s163" id="subject_config" type="text" value="" class="form-control">
									<label for="file_path">Например: csa_bos_2018_2</label>
								</div>

							</div>
						</div>
						<br>
						<button type="button" class="btn btn-success" onclick="showTable();">
							<i class="fi fi-task-list"></i>
							Показать таблицу
						</button>

						<div id="table_show" class="container no-width py-3">

							<div id="item_list">
								<br>
								<br>
								<br>
								<label class="form-checkbox form-checkbox-indigo form-checkbox-bordered">
									<input id="showColor" type="checkbox" name="checkbox_in" onchange="checkboxChange();">
									<i></i> Показать выделение цветом
								</label>
								<br>
								<br>
								<div class="row no-gutters">
									<div id="forWidUser" class="col-2">
										<table id="user_table" class="table table-bordered table-hover">

										</table>
									</div>
									<div id="forWid" class="col-10">
										<div id="div2" class="scrollable-vertical scrollable-styled-dark">
											<table id="table"  class="table table-bordered table-hover">

											</table>
										</div>
									</div>
								</div>

							</div>

						</div>


					</div>


				</div>
				<!-- end:portlet -->

			</div>
			<!-- end:col: -->


		</div>
		<!-- end:row: -->
		<!-- doc:end -->
	</div>
</div>

	<div layout:fragment="container_js" id="page_js_files">
		<!-- specific page javascript files here -->
		<script th:src="@{/js/core.js}"></script>
		<script type="text/javascript" th:src="@{/js/vendor_bundle.js}"></script>
		<script type="text/javascript" th:src="@{/js/studentsTable.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.doubleScroll.js}"></script>
	</div>
</div>

</body>

