<!DOCTYPE html>
<html
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{default.html}"
		xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8"/>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Успеваемость</title>
	<meta name="description" content="" />
</head>

<body class="layout-admin" data-aos-easing="ease-in-out-sine" data-aos-duration="700" data-aos-delay="0">
		<div id="wrapper" class="d-flex align-items-stretch flex-column">
			<div id="wrapper_content" layout:fragment="container" class="d-flex flex-fill">
				<!-- /SIDEBAR -->
				<!-- MIDDLE -->
				<div id="middle" class="flex-fill  bg-dark-soft">
					<!-- start:row -->
					<div class="row gutters-sm">
						<!-- start:col: -->
						<div class="col-12 mb-3">
							<div class="portlet">
								<div class="portlet-header border-bottom">
									<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
										<li class="nav-item">
											<a class="nav-link active bg-secondary-active" id="pills-progeress-tab" data-toggle="pill" href="#pills-progeress" role="tab" aria-controls="pills-progeress" aria-selected="true">Успеваемость</a>
										</li>

										<li class="nav-item">
											<a class="nav-link bg-secondary-active" id="pills-downloads-tab" data-toggle="pill" href="#pills-downloads" role="tab" aria-controls="pills-downloads" aria-selected="false" >Загрузить предмет</a>
										</li>

										<li class="nav-item" id="pills-backups-tab-item" >
											<a class="nav-link bg-secondary-active"  id="pills-backups-tab" data-toggle="pill" href="#pills-backups"  role="tab" aria-controls="pills-backups" aria-selected="false" >Резервные копии предмета</a>
										</li>
<!--										<li class="nav-item">-->
<!--											<a class="nav-link bg-secondary-active" id="pills-delitions-tab" data-toggle="pill" href="#pills-delitions" role="tab" aria-controls="pills-downloads" aria-selected="false" >Удалить предмет</a>-->
<!--										</li>-->
									</ul>
								</div>
								<div class="portlet-body">
									<div class="tab-content" id="pills-tabContent">
										<div class="tab-pane fade show active" id="pills-progeress" role="tabpanel" aria-labelledby="pills-progeress-tab">
											<div class="row">
												<div class="col-lg-6">
													<div class="form-label-group mb-1 ml-1">
														Номер группы
													</div>
													<div class="form-label-group mb-3">
														<input placeholder="Номер группы, например: s163" id="group_number" type="text" value="" class="form-control">
														<label for="file_path">Например: s163</label>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="form-label-group mb-1 ml-1">
														Название предмета и номер семестра
													</div>
													<div class="form-label-group mb-3">
														<input placeholder="Номер группы, например: s163" id="subject_config" type="text" value="" class="form-control">
														<label for="file_path">Например: csa_bos_2018_2</label>
													</div>
													
												</div>
											</div>
											<br>
											<button type="button" class="btn btn-success" onclick="showTable();">
												<i class="fi fi-task-list"></i>
												Показать таблицу
											</button>
											<button type="button" id="backup_btn" class="btn btn-primary"  hidden="" onclick="backup();">
												<i class="fi fi-cloud-upload"></i>
												Создать резервную копию предмета
											</button>
											<div id="table_show" class="container no-width py-3">
												<div id="item_list">
													<br>
													<br>
													<br>
													<label class="form-checkbox form-checkbox-indigo form-checkbox-bordered">
														<input id="showColor" type="checkbox" name="checkbox_in" onchange="checkboxChange();">
														<i></i> Показать выделение цветом
													</label>
													<br>
													<br>
													<div class="row no-gutters">
														<div id="forWidUser" class="col-2">
															<table id="user_table" class="table table-bordered table-hover">
															</table>
														</div>
														<div id="forWid" class="col-10">
															<div id="div2" class="scrollable-vertical scrollable-styled-dark">
																<table id="table"  class="table table-bordered table-hover">
																</table>
															</div>
														</div>
													</div>
		  										</div>
											</div>
										</div>

										<div class="tab-pane fade" id="pills-downloads" role="tabpanel" aria-labelledby="pills-downloads-tab">
											<div class="row">
												<div class="col-lg-6">
													<div class="input-group">
														<div class="custom-file custom-file-secondary">
															<input 	name="groupFile"
																	  type="file"
																	  data-file-ext=" txt, json, csv"
																	  data-file-max-size-kb-per-file="30000"
																	  data-file-ext-err-msg="Допустимый тип:"
																	  data-file-size-err-item-msg="Файл слишком велик!"
																	  data-file-size-err-total-msg="Общий допустимый размер превышен!"
																	  data-file-toast-position="bottom-center"
																	  data-file-preview-container=".js-file-input-preview-single-container1"
																	  data-file-preview-img-height="120"
																	  data-file-preview-show-info="true"
																	  data-file-btn-clear="a.js-file-upload-clear1"

																	  class="custom-file-input"
																	  id="groupFile">
															<label class="custom-file-label" for="groupFile">Выбрать файл с группой</label>
														</div>
													</div>
													<div class="js-file-input-preview-single-container1 ml--n6 mr--n6"><!-- preview container --></div>
													<div class="mt-1">
														<a href="#" class="hide js-file-upload-clear1 btn btn-light btn-sm">
															Удалить
														</a>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="input-group">
														<div class="custom-file custom-file-primary">
															<input 	name="configFile"
																	  type="file"
																	  data-file-ext=" txt, json, csv"
																	  data-file-max-size-kb-per-file="30000"
																	  data-file-ext-err-msg="Допустимый тип:"
																	  data-file-size-err-item-msg="Файл слишком велик!"
																	  data-file-size-err-total-msg="Общий допустимый размер превышен!"
																	  data-file-toast-position="bottom-center"
																	  data-file-preview-container=".js-file-input-preview-single-container2"
																	  data-file-preview-img-height="120"
																	  data-file-preview-show-info="true"
																	  data-file-btn-clear="a.js-file-upload-clear2"
																	  class="custom-file-input"
																	  id="configFile">
															<label class="custom-file-label" for="configFile">Выбрать файл с конфигурацией предмета</label>

														</div>
													</div>
													<p><a th:href="@{/administrator/create_config}">Создать файл конфигурации</a></p>
													<div class="js-file-input-preview-single-container2 ml--n6 mr--n6"><!-- preview container --></div>
													<div class="mt-1">
														<a href="#" class="hide js-file-upload-clear2 btn btn-light btn-sm">
															Удалить
														</a>
													</div>

												</div>
											</div>
											<br>
											<button type="button" class="btn btn-success" onclick="upload();">
												<i class="fi fi-plus"></i>
												Загрузить
											</button>
											<br>
											<br>

										</div>

										<div class="tab-pane fade" id="pills-backups" role="tabpanel" aria-labelledby="pills-downloads-tab">
											<div class="table-center">
												<br/>
												<h2 th:text="|Cписок резервных копий (${backups_list_size})|">Список резервных копий ()</h2>
												<br/>
												<table id="subjects_table" class=
														"table table-hover table-teacher" style="width: 95%;">
													<thead class="thead-light">
													<tr>
														<th>Id</th>
														<th>Дата</th>
														<th></th>
														<th></th>
													</tr>
													</thead>
													<tbody style="background-color: rgba(165,177,166,0.55)">
													<tr th:each="backup : ${backups_list}">
														<!--                    <td  th:text="${subject.getId()}">Id</td>-->
														<td class="font-weight-bold" th:text="${backup.getId()}">Id</td>
														<td class="font-weight-bold" th:text="${date_format.format(backup.getDate())}">Date</td>
														<td>
															<form th:action="@{/administrator/delete/{subject}/{year_group}
                        									(subject = ${backup.getAncestors()}, year_group = ${backup.getAncestors()})}" th:method="delete">
																<button type="submit" class="btn-indigo rounded" name="idn">
																	Восстановить
																</button>
															</form>
														</td>
														<td>
															<form th:action="@{/administrator/delete/{subject}/{year_group}
                        									(subject = ${backup.getAncestors()}, year_group = ${backup.getAncestors()})}" th:method="delete">
																<button type="submit" class="btn-danger rounded" name="id">
																	Удалить
																</button>
															</form>
														</td>
													</tr>
													</tbody>
												</table>
											</div>

										</div>

									</div>
								</div>
							</div>
							<!-- end:portlet -->
						</div>
						<!-- end:col: -->
					</div>
					<!-- end:row: -->
					<!-- doc:end -->
				</div>
			</div>
		</div><!-- /#wrapper -->

		<div layout:fragment="container_js" id="page_js_files">
			<!-- specific page javascript files here -->
			<script th:src="@{/js/core.js}"></script>
			<script type="text/javascript" th:src="@{/js/vendor_bundle.js}"></script>
			<script type="text/javascript" th:src="@{/js/table.js}"></script>
			<script type="text/javascript" th:src="@{/js/jquery.doubleScroll.js}"></script>
		</div>
</body>

